@use '../../styles/mixins.scss' as *;
@use '../../styles/colors' as *;

.hero {
    @include flex-contents();
    flex-direction: column;
    height: 30rem;

    &__title {
        font-size: 2.5rem;
        margin: 0;

        @include desktop {
            font-size: 3rem;
        }
    }

    &__subtitle {
        font-size: 1.25rem;
        font-weight: 500;
        color: $primary-color;
        margin: 0.25rem 0;
        // letter-spacing: 1.8px;
        font-weight: 600;
    }

    &__cta {
        display: inline-block;
        background-color: white;
        border: 1px solid $primary-color;
        color: $primary-color;
        border-radius: 3px;
        padding: 0.5rem 0.75rem;
        margin-top: 0.5rem;
        cursor: pointer;
        box-shadow: inset 0 0 0 0 $primary-color;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
        text-decoration: none;
        font-size: 0.9rem;

        &:hover {
            color: white;
            box-shadow: inset 200px 0 0 0 $primary-color;
        }
    }
}

.about {
    padding: 3rem 10%;
    font-size: 1.1rem;

    @include desktop {
        padding: 3rem 20%;
    }

    &__content {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }
    }

    &__image {
        border-radius: 50%;
        width: 15rem;
    }

    &__text {
        line-height: 1.5rem;

        @include desktop {
            margin-right: 5rem;
        }
    }

    &__icon {
        margin: 0.5rem;
    }
}

.experience {
    padding: 2rem 10%;

    @include desktop {
        padding: 3rem 20%;
    }

    &__position {
        margin: 0;
    }

    &__employer {
        margin: 0.25rem 0;
        color: $primary-color;
    }

    &__dates {
        margin: 0.75rem 0;
        font-size: 0.9rem;
    }

    &__points {
        margin: 0.25rem 0;
    }

    &__point {
        @include desktop {
            margin-bottom: 0.5rem;
        }
    }
}

.tabs {
    background-color: $bg-color;
    height: 18rem;
    border-radius: 5px;
    margin-top: 2rem;

    &__panel {
        padding: 0rem 2rem;
    }

    &__list {
        @include flex-contents(flex-start);
        list-style: none;
        background-color: white;
        padding: 0;
    }

    &__link {
        border-bottom: 2px solid white;
        cursor: pointer;
        padding: 0.5rem;

        &--active {
            border-bottom: 2px solid $primary-color;
            background-color: $bg-color;
            border-radius: 2px;
        }
    }
}

.projects {
    padding: 3rem 10%;

    @include desktop {
        padding: 3rem 20%;
    }
}

.project {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

    &__basics {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }
    }

    &__images {
        @include flex-contents(space-between);
        
        @include desktop {
            width: 30rem;
        }
    }

    &__image {
        width: 100%;
        border-radius: 5px;

        @include desktop {
            width: 30rem;       
            height: 20rem;
        }

        &--mobile {
            width: 45%;
            border-radius: 5px;

            @include desktop {
                width: auto;
                height: 20rem;
                position: relative;
                top: -0.5rem;

                &:first-of-type {
                    margin-right: 1rem;
                }
            }

        }
    }

    &__title {
        margin: 0;
        font-size: 1.5rem;
        color: black;
    }

    &__text {
        position: relative;
        background-color: white;
        opacity: 0.7;
        padding: 1rem;
        border-radius: 5px;
        margin-top: 1rem;

        @include desktop {
            margin: 0 0 1rem 1rem;
            height: 20rem;
        }

        &--open {
            border-radius: 5px 5px 0 0;

            @include desktop {
                height: 21rem;
                margin-bottom: 0;
            }
        }
    }

    &__description {
        line-height: 1.3;
    }

    &__details {
        max-height: 0;
        overflow: hidden;

        &--open {
            max-height: 50rem;
            background-color: white;
            opacity: 0.7;
            padding: 1rem;
            border-radius: 0 0 5px 5px;
            line-height: 1.3;
            transition: max-height 0.5s ease-out;
    
            @include desktop {
                border-radius: 5px 0 5px 5px;
            }
        }

    }

    &__stack {
        font-style: italic;
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        color: $primary-color;
        background-color: white;
        border: 1px solid $primary-color;
        border-radius: 4px;
        padding: 0.25rem 0.75rem;
        margin-top: 0.75rem;
        font-size: 0.95rem;
        cursor: pointer;

        &:hover, &--open {
            background-color: $primary-color;
            color: white;
        }
    }

    &__icon {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}

.section-title {
    color: rgb(77, 77, 77);
    font-size: 1rem;
}

.icon {
    &:hover {
        filter: invert(37%) sepia(47%) saturate(416%) hue-rotate(40deg) brightness(94%) contrast(99%);
    }
}